<!DOCTYPE html>
<html>
<head>
	{% include "dashboard/shared_links.html" %}
	<title>Impact Measurement</title>
	<link rel="stylesheet"
          href="bower_components/chartist/dist/chartist.min.css">
</head>
<body>


	{% include "dashboard/navigation_bar.html" %}
<h1>Impact Measurement Page</h1>

<br>
<br>


<div class="container">
  <div class="row">
    <div class="col">

<div class="card" style="width:550px ;">
  <div class="card-body">
    <p class="card-text" style="font-size: 20px; ">Total Number of checkouts from the foodpantry: {{Total_Checkouts}} items</p>
    </div>
  </div><br><br>

  <div class="card" style="width:550px ;">
    <div class="card-body">
  <p class="card-text" style="font-size: 20px; ">Total Number of Students benefitted from pantry: {{Unique}} items</p>
    </div></div><br><br>

    <div class="card" style="width:550px ;">
      <div class="card-body">
  <p class="card-text" style="font-size: 20px; ">Total donation amount of all the food in dollars: ${{Total_Amount}}</p>
      </div></div><br><br>
      <div class="card" style="width:550px ;">
        <div class="card-body">

    <p class="card-text" style="font-size: 20px; ">Total Number of food products donated from pantry: {{Total_Quantity}} items</p>
        </div></div>


    </div>
    <div class="col">


  <div class="card h-85" style="width:525px;">
        <div class="card-body">
          <h5 class="card-title">Average number of items per student: {{average}} items</h5>
      <div class="ct-perfect-fourth" id="ct-chart"></div>
  <script>
  
          var data = {
          // A labels array that can contain any sort of values
          labels: [{% for key, value in dat2.items %}
                '{{key}}',
              {% endfor %}],
          // Our series array that contains series objects or in this case series data arrays
          series: [
            [{% for key, value in dat2.items %}
                  {{value}},
                {% endfor %}]
                ]
              };
              
                var options = {
                  high : 25,
                  low: 0,
                  onlyInteger: true,
                  scaleMinSpace : 10,
                    showArea: true,
                    width: '400px',
                    height: '350px'
                };
  
      new Chartist.Line('#ct-chart', data, options);
    </script>
    </div>
    </div>


    </div>




  </div>
</div>
<br>

<div class="container">
	<div class="jumbotron">
    <h5 class="card-title text-center" >Student List with number of items</h5>
<div class="table-wrapper-scroll-y my-custom-scrollbar">	
  <table bgcolor="white" class="table table-bordered table-striped mb-0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Student ID
      </th>
      <th class="th-sm">Item Count
      </th>
    </tr>
  </thead>
  <tbody>
  	{% for key, value in dat.items %}
    <tr>	
      <td>{{key}}</td>
      <td>{{value}}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Student ID
      </th>
      <th>Item Count
      </th>
    </tr>
  </tfoot>
</table>
</div>
	</div>
  </div>
</div>








</body>
</html>