.navbar-custom {
  background-image: linear-gradient(to top right, #F0FFFF, #99c2ff);;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #1E90FF;
}
.navbar-custom .navbar-nav .nav-link {
  color: #1E90FF;
}
