<!DOCTYPE html>
<html>
<head>
	{% include "dashboard/shared_links.html" %}
	<title>Checkout</title>
</head>
<body>
	{% include "dashboard/navigation_bar.html" %}
	<br>
	<br>

<h1>Check Out</h1>
<br>
<br>

{% load static %}
<script src="{%static 'JS/common.js' %}"></script>
<div class="container">
	<div class="jumbotron">
		<div class="table-wrapper-scroll-y my-custom-scrollbar">	
			<table bgcolor="white" class="table table-bordered table-striped mb-0">
  <thead>
    <tr>
      <th scope="col">Student ID</th>
      <th scope="col">Checkout Date</th>
      <th scope="col">Item Name</th>
      <th scope="col">Quantity</th>

    </tr>
  </thead>
  <tbody>
{% for each in cout %}
    <tr>
	    

					<td>{{each.student_id}}</td>
					<td>{{each.checkout_date}}</td>
					<td>{{each.item_name}}</td>
					<td>{{each.quantity}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
	</div>
	</div>
</div>



{% if isInserted %}
     <!-- Delete model box for each row in for loop-->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Item(s) succefully checked out!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Ends here -->

{% endif %}









<div class="form">
<div class="center-column">
	<form method="POST" action="/checkout/">
		{% csrf_token %}
		<label>Select Item</label>
	{{cout_data.item_in_inventory}}
    {{cout_data.student_id}}
    {{cout_data.checkout_date}}
    {{cout_data.quantity}}
		<!-- <input class="btn btn-info" type="submit" name="Checkout"> -->
		<button type="submit" class="btn btn-info">Check Out</button>
	</form>
</div></div>
</body>
</html>