<!DOCTYPE html>
<html>
<head>
    {% include "dashboard/shared_links.html" %}
    <title>Provider</title>
</head>
<body>
    {% include "dashboard/navigation_bar.html" %}
    <br><br>
<h1>Provider</h1>
<br><br>

 {% load static %}
<script src="{%static 'JS/common.js' %}"></script>
     
</div> 
<div class="container">
<div class="jumbotron">
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
 <table bgcolor="white" class="table table-bordered table-striped mb-0">
  <thead>
    <tr>
      <th scope="col">Donor Name</th>
      <th scope="col">Donor Status</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
{% for each in donor %}
    <tr>
        {% if each.anonymus_status %}
        <td> Anonymous Donor </td>
        {% else %}
        <td>{{each.user_name}}</td>
        {% endif %}
        <td>{{each.donor_status}}</td>
        <td>
            <a class="btn btn-outline-primary" href="{% url 'update_pro' each.donor_name %}">Edit</a> 

            <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#deleteModal{{ each.donor_name }}">Delete</a>
            <!-- Delete model box for each row in for loop-->
            <div class="modal fade" id="deleteModal{{ each.donor_name }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Delete Provider</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Do you really want to delete this Provider ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'remove_pro' %}?name={{ each.donor_name }}">
                            <button type="button" class="btn btn-primary">Delete</button>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Ends here -->
        </td>
        </tr>
{% endfor %}
  </tbody>
</table>
  </div>
</div>
</div>
<div class="container"> 
<div class="form">
    <div class="login-form">
        <form method="POST" action="/provider/">
            {% csrf_token %}
                    {{donor_data.donor_name}}
                    {{donor_data.user_name}}
                    <label>Donor Status:</label>
                    {{donor_data.donor_status}}
                    <label>Anonymous Status:</label>
                    {{donor_data.anonymus_status}}
                    <br>
                    <br>

<!-- 
        <input class="btn btn-info" type="submit" name="Add donor"> -->
        <button type="submit" class="btn btn-info">Add Doner</button>
    </form>
</div>
</div>
</div>

</body>
</html> 