
<html>
<head>
  {% include "dashboard/shared_links.html" %}
  <title>Provider</title>
</head>
<body>
  {% include "dashboard/navigation_bar.html" %}
<br><br>

<h1>Edit Provider</h1><br>
<br>

<div class="form">
    <div class = "login-form">
      <!-- <h1>Edit Checkout Item</h1> -->
      <form method="POST" action="">
        <p style="text-align: left;">Donor Username:</p>
  {{form.donor_name}}
  <p style="text-align: left;">Donor Name:</p>
  {{form.user_name}}
  <label>Doner Type</label>
  {{form.donor_status}}
        {% csrf_token %}
        <br><br>
        <button type="submit" class="btn btn-primary" name = "Edit_Task">Update</button>
                <a href="/provider/">
                  <br><br>

          <button type="button" class="btn btn-primary" value="Cancel" name = "Cancel">Cancel</button>
      </form>

        </a>
    </div>
  </div>
</body>
</html>