<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
   
  <link rel="stylesheet" type="text/css" href="{%static 'CSS/p1.css' %}">
    {% include "dashboard/shared_links.html" %}
    <title>About</title>
  </head>
  <body>
    {% include "dashboard/navigation_bar.html" %}

  
  <br>
  <h1 class="head">CINS 465: Final Project by Devam Sharma,Sujeet Hiramath and Chetan Kurra</h1>
  <br>
  <div class="container">
    <div class="card text-dark">
      <div class="card-body">
    
  <h2>Food Pantry Project</h2>
  <br>
   <ul>
      	<li>We created a new Django project and the required apps for it, i.e dashboard, waste_management, provider, inventory and impact_measurement. We started with the login and register page. After that the dashboard.html and Navigation_Bar.html to include the navigation bar, and also shared_links.html to include the various link of bootstrap.</li>

        <li>After Making a commmon CSS file for the project and one more CSS for the nav bar, Its easiler to impletmet the CSS in whole project, It also gives the uniformity to pages and the website looks very aesthetic. After completing the dashboard app, we worked the provider app, created tables and implemeted the edit and delete for provider as required for the project.
        
        </li>
        <li>After completing the provider app, we worked on the inventory, so that once a provider is added, we can add items in the inventory by choosing the provider at first. The same delete and edit functions are used in inventory too.</li>
        <li>Third app, we worked on is the Check out. As items in inventory needs to be checked out by a student, it will transfer the item name and the quantity add in cart will be subtracted from the inventory.</li>
        <li>With all the functions working, We worked on the app like impact_measurement and waste_management. There apps are for the statistics of the whole food pantry. In the impact_measurement, statistics like average number of items is displayed by chartist.js and the whole table of students and their number of items checked out is displayed.</li>
       <li>In the waste_management, We made two tables, one of which shows the items which are going to expire in two days and the another one show the expired items, that needs to be dumped in the garbage.</li>
        <li>Dashboard shows the overall statistics of pantry. It consists of 4 graphs. First graph shows Number of items checked out by students from pantry in last 10 days, second graph is for waste reduction statistics. 3rd line chart shows the top 10 most donated items. And the final pie chart shows the provider statistics</li> 	
   </ul>
  </div></div></div>
   <br>
   <br>
   <br>
   <br>
   <div class="container">
   <h2>About Us</h2>
   <ul>
     <li> <b>Devam Sharma:</b> I'm a Grad student here at chico state majoring in computer science. I did my bachlors also in computer science from JECRC University, Jaipur. I've also done a frontend internship in my final year of bachlors, which means I also have a knowledge about the typography and color combinations which will make the website look good.

  <li><b>Sujeet Hiramath:</b> I am a computer science graduate student studying at California State University Chico. I did my bachelor's in Computer Engineering from the University of Mumbai. I have one year of work experience as an Associate Software Engineer at FIGmd Inc. (Google Venture). I am extremely passionate about programming.</li>
  <li><b>Chetan Sai Kurra:</b> I am Chetan Sai Kurra Grad student in Chico state computer science.
    I have pursued my bachelor's in computer science at Amrita Vishwa Vidyapeetham in India. I am interested in software programming and Ai.</li>
</ul>
</div>
  {% load static %}
  <div class="row">
    <div class="col">
  <img src="{% static 'IMG/Devam.jpg' %}" width="400" height="500"><p>Devam Sharma</p>
    </div>
    <div class="col">
  <img src="{% static 'IMG/Sujeet.jpg' %}" width="400" height="400"><p>Sujeet Hiramath</p>
    </div>
    <div class="col">
  <img src="{% static 'IMG/Chetan.jpg' %}" width="400" height="400"><p>Chetan Sai Kurra</p>
    </div>
</div>
    
  </div>

  </body>
</html>
