<!DOCTYPE html>
<html>
<head>
	{% include "dashboard/shared_links.html" %}
	<title>Dashboard</title>
</head>
<body>
	{% include "dashboard/navigation_bar.html" %}
<h1>Dashboard Page</h1>





  <div class="card h-75" style="width:525px;">
        <div class="card-body">
          <h5 class="card-title">Number of items checkedout by students from pantry in last 10 days:</h5>
      <div class="ct-perfect-fourth" id="chart1"></div>
  <script>
  
          var data = {
          // A labels array that can contain any sort of values
          labels: [{% for key, value in ChartData.items %}
                '{{key}}',
              {% endfor %}],
          // Our series array that contains series objects or in this case series data arrays
          series: [
            [{% for key, value in ChartData.items %}
                  {{value}},
                {% endfor %}]
                ]
              };
              
  
      new Chartist.Bar('#chart1', data);

    </script>
    </div>
  </div>





  <div class="card h-75" style="width:525px;">
        <div class="card-body">
          <h5 class="card-title">Waste Reduction</h5>
      <div class="ct-perfect-fourth" id="chart2"></div>
  <script>
  
           var data_pie = {
            labels: ['Good Products', 'About to Expire Products', 'Already Expired Products'],
            series: [{{ good_products }}, {{ about_to_expire }}, {{ already_expired }}]
            };

            var options_pie = {
            labelInterpolationFnc: function(value) {
                return value[0]
            }
            };

            var responsiveOptions_pie = [
            ['screen and (min-width: 640px)', {
                chartPadding: 30,
                labelOffset: 100,
                labelDirection: 'explode',
                labelInterpolationFnc: function(value) {
                return value;
                }
            }],
            ['screen and (min-width: 1024px)', {
                labelOffset: 80,
                chartPadding: 20
            }]
            ];
  
      new Chartist.Pie('#chart2', data_pie, options_pie, responsiveOptions_pie);

    </script>
    </div>
  </div>


  <div class="card h-75" style="width:525px;">
        <div class="card-body">
          <h5 class="card-title">Total number of contributers: {{total_donors}}</h5>
        </div>
      </div>




</body>
</html>