<!DOCTYPE html>
<html>
<head>
	{% include "dashboard/shared_links.html" %}
	<title>Login</title>
</head>
<body>
	{% include "dashboard/navigation_bar.html" %}
 
   
   
   <div class="login-page">
    <div class="form">
      <h1>Login </h1>

        <form method="post" action="{% url 'user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password">

        <button type="submit" class="btn btn-primary" value = "Login">Login</button>
        <br>
        <p class="message">Not registered? <a href="/join/">Join here.</p>
        </form>

    </div>
  </div>